#shoutout{
    padding:50px; 
    margin-top:140px;
    background-color: rgb(38, 179, 160);
    text-align: center;
    border-radius:4px;

}
#shoutoutsec{
    padding:50px; 
    margin-top:140px;
    background-color: rgb(38, 179, 160);
    text-align: center;
    border-radius:4px;
}
#scor,#Highscoreloc{
    font-size: 25px;
}
#tab{
    display:block;
    text-align: center;
    position: absolute;
    right: 50%;
    border-radius: 4px;
    background-color: rgb(38, 179, 160);
    font-size: 22px;
    color:ivory;
    left:100px;
}

@media screen and (orientation:portrait){
    #monkey{
        display:visible;
    }
    #shoutoutsec{
        display:flex;
        padding:50px; 
    background-color: rgb(38, 179, 160);
    text-align: center;
    border-radius:4px;
    font-family:'Courier New', Courier, monospace;
    }
    #tab{
        display:none;
    }
    #shoutout{
        display:none;
    }
    canvas{
        display:none;
        }
}
@media screen and (orientation:landscape){
    #shoutout{
        padding:50px; 
        background-color: rgb(38, 179, 160);
        text-align: center;
        border-radius:4px;  
    }
}
@media screen and (min-width:480px){
    #tab{
        top:9%;
    }
}
@media screen and (max-width:480px){
    #tab{
        top:80%;
        left:4%;
        right:67%;
    }
}
@media screen and (max-height:480px){
     #tab{
         top:80%;
         left:4%;
         right:67%;
     }
}
